In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_client_train = pd.read_csv('../data/raw/client_train.csv')
df_transactions_train = pd.read_csv('../data/raw/invoice_train.csv')
df_client_test = pd.read_csv('../data/raw/client_test.csv')
df_transactions_test = pd.read_csv('../data/raw/invoice_test.csv')

C:\Users\djidj\AppData\Local\Temp\ipykernel_34348\3381013910.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_transactions_train = pd.read_csv('../data/raw/invoice_train.csv')

In [3]:
df_client_train1 = df_client_train.copy()
df_transactions_train1 = df_transactions_train.copy()

In [4]:
df_transactions_train_filtered = df_transactions_train1[df_transactions_train1['counter_type'] == 'ELEC']
df_transactions_train_v1 = df_transactions_train_filtered.iloc[:,:-1]
df_transactions_test_filtered = df_transactions_test[df_transactions_test['counter_type'] == 'ELEC']
df_transactions_test_v1 = df_transactions_test_filtered.iloc[:,:-1]

In [5]:
def deplacer_colonnes(dfs, col_names, pos):
    if not isinstance(dfs, list):
        dfs = [dfs]
        single_input = True
    else:
        single_input = False
    
    if isinstance(col_names, str):
        col_names = [col_names]
    
    if isinstance(pos, int):
        pos = [pos]
    
    if len(col_names) != len(pos):
        raise ValueError("La liste des colonnes et la liste des positions doivent avoir la même longueur.")
    
    dfs_modifies = []
    
    for df in dfs:
        df_copy = df.copy()
        temp_cols = {col:df_copy.pop(col) for col in col_names}
        for col, ps in zip(col_names, pos):
            df_copy.insert(ps, col, temp_cols[col])
        dfs_modifies.append(df_copy)
    return dfs_modifies[0] if single_input else dfs_modifies

df_client_train1 = deplacer_colonnes(df_client_train1, 'client_id',0)

In [6]:
df_client_train1.isnull().sum()

client_id        0
disrict          0
client_catg      0
region           0
creation_date    0
target           0
dtype: int64

In [7]:
df_transactions_train_v1.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
dtype: int64

In [8]:
df_client_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   client_id      135493 non-null  object
 1   disrict        135493 non-null  int64
 2   client_catg    135493 non-null  int64
 3   region         135493 non-null  int64
 4   creation_date  135493 non-null  object
 5   target         135493 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.2+ MB

In [9]:
df_transactions_train_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3079406 entries, 0 to 4476748
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
dtypes: int64(12), object(3)
memory usage: 375.9+ MB

In [10]:
df_client_train1.rename(columns={'disrict': 'district'}, inplace=True)

In [11]:
df_client_train1['creation_date'] = pd.to_datetime(df_client_train1['creation_date'], format= 'mixed', dayfirst=True)
df_transactions_train_v1['invoice_date'] = pd.to_datetime(df_transactions_train_v1['invoice_date'])
df_client_test['creation_date'] = pd.to_datetime(df_client_test['creation_date'], format= 'mixed', dayfirst=True)
df_transactions_test_filtered['invoice_date'] = pd.to_datetime(df_transactions_test_filtered['invoice_date'])

C:\Users\djidj\AppData\Local\Temp\ipykernel_34348\988659676.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transactions_test_filtered['invoice_date'] = pd.to_datetime(df_transactions_test_filtered['invoice_date'])

In [12]:
def convert_to_category(df, col_names):
    for col in col_names:
        df[col] = df[col].astype('category')
    return df

df_client_train1 = convert_to_category(df_client_train1, ['district','client_catg','region'])
df_client_test = convert_to_category(df_client_test, ['disrict','client_catg','region'])
df_transactions_train_v1 = convert_to_category(df_transactions_train_v1, ['tarif_type','counter_statue', 'counter_coefficient'])
df_transactions_test_filtered = convert_to_category(df_transactions_test_filtered, ['tarif_type','counter_statue', 'counter_coefficient'])

C:\Users\djidj\AppData\Local\Temp\ipykernel_34348\442786245.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].astype('category')

In [13]:
df_transactions_train_v1['counter_statue'].value_counts()

counter_statue
0         3000291
1           40124
0           21845
5           14009
4            2471
1             299
3             187
5             101
4              23
46             14
A              13
618            12
2              10
769             6
269375          1
Name: count, dtype: int64

In [14]:
df_transactions_train_v1 = df_transactions_train_v1[~((df_transactions_train_v1['counter_statue'] =='A') & (df_transactions_train_v1['counter_statue'].isin([46, 618, 269375, 769])))]

In [15]:
df_transactions_train_v1['reading_remarque'].value_counts()

reading_remarque
6      1494098
9      1054605
8       530046
7          624
203         15
413         12
207          6
Name: count, dtype: int64

In [16]:
df_transactions_train_v1 = df_transactions_train_v1[~(df_transactions_train_v1['reading_remarque'] >=11)]

In [17]:
df_transactions_train_v1['counter_coefficient'].value_counts()

counter_coefficient
1     3077770
2         886
3         321
40        197
30        137
0          43
4          10
10          4
20          3
50          2
9           0
6           0
8           0
Name: count, dtype: int64

In [18]:
df_transactions_train_v1 = df_transactions_train_v1[~((df_transactions_train_v1['counter_coefficient'] == 0) | (df_transactions_train_v1['counter_coefficient'].isin([6, 8, 9, 10,20,30,40,50])))]
df_transactions_train_v1['counter_coefficient'] = df_transactions_train_v1['counter_coefficient'].cat.remove_unused_categories()

In [19]:
df_transactions_train_v1['months_number'].value_counts()

months_number
4         2518497
8          201643
2          179380
1           80817
12          40503
           ...
461273          1
364360          1
367445          1
459733          1
463554          1
Name: count, Length: 515, dtype: int64

In [20]:
df_transactions_train_v1 = df_transactions_train_v1[~(df_transactions_train_v1['months_number'] > 12)]

In [21]:
df_transactions_train_v1['concat']= df_transactions_train_v1['client_id'] + df_transactions_train_v1['invoice_date'].astype(str)

In [23]:
df_transactions_train_v1.drop_duplicates(subset='concat', keep=False, inplace=True)

In [24]:
df_transactions_train_v1.drop('concat', axis=1, inplace=True)

In [25]:
df_transactions_train_v1['consommation_total'] = df_transactions_train_v1['new_index'] - df_transactions_train_v1['old_index']

In [26]:
df_transactions_test_v1['consommation_total'] = df_transactions_test_v1['new_index'] - df_transactions_test_v1['old_index']

In [27]:
df_transactions_train_v1 = df_transactions_train_v1[df_transactions_train_v1['consommation_total'] >= 0]

In [28]:
df_transactions_train_v1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2839309 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          datetime64[ns]
 2   tarif_type            category
 3   counter_number        int64
 4   counter_statue        category
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   category
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  consommation_total    int64
dtypes: category(3), datetime64[ns](1), int64(11), object(1)
memory usage: 311.4+ MB

In [29]:
df_agg = df_transactions_train_v1.groupby('client_id').agg(
    counter_number = pd.NamedAgg(column='counter_number', aggfunc='max'),
    counter_code = pd.NamedAgg(column='counter_code', aggfunc='max'),
    reading_remarque_min = pd.NamedAgg(column='reading_remarque', aggfunc='min'),
    reading_remarque_max = pd.NamedAgg(column='reading_remarque', aggfunc='max'),
    reading_remarque_std = pd.NamedAgg(column='reading_remarque', aggfunc='std'),
    reading_remarque_mean = pd.NamedAgg(column='reading_remarque', aggfunc='mean'),
    reading_remarque_median = pd.NamedAgg(column='reading_remarque', aggfunc='median'),
    conso_level1_sum = pd.NamedAgg(column='consommation_level_1', aggfunc='sum'),
    conso_level2_sum = pd.NamedAgg(column='consommation_level_2', aggfunc='sum'),
    conso_level3_sum = pd.NamedAgg(column='consommation_level_3', aggfunc='sum'),
    conso_level4_sum = pd.NamedAgg(column='consommation_level_4', aggfunc='sum'),
    conso_min = pd.NamedAgg(column='consommation_total', aggfunc='min'),
    conso_max = pd.NamedAgg(column='consommation_total', aggfunc='max'),
    conso_std = pd.NamedAgg(column='consommation_total', aggfunc='std'),
    conso_mean = pd.NamedAgg(column='consommation_total', aggfunc='mean'),
    conso_median = pd.NamedAgg(column='consommation_total', aggfunc='median')
    ).reset_index()

In [30]:
df_agg1 = df_transactions_test_v1.groupby('client_id').agg(
    counter_number = pd.NamedAgg(column='counter_number', aggfunc='max'),
    counter_code = pd.NamedAgg(column='counter_code', aggfunc='max'),
    reading_remarque_min = pd.NamedAgg(column='reading_remarque', aggfunc='min'),
    reading_remarque_max = pd.NamedAgg(column='reading_remarque', aggfunc='max'),
    reading_remarque_std = pd.NamedAgg(column='reading_remarque', aggfunc='std'),
    reading_remarque_mean = pd.NamedAgg(column='reading_remarque', aggfunc='mean'),
    reading_remarque_median = pd.NamedAgg(column='reading_remarque', aggfunc='median'),
    conso_level1_sum = pd.NamedAgg(column='consommation_level_1', aggfunc='sum'),
    conso_level2_sum = pd.NamedAgg(column='consommation_level_2', aggfunc='sum'),
    conso_level3_sum = pd.NamedAgg(column='consommation_level_3', aggfunc='sum'),
    conso_level4_sum = pd.NamedAgg(column='consommation_level_4', aggfunc='sum'),
    conso_min = pd.NamedAgg(column='consommation_total', aggfunc='min'),
    conso_max = pd.NamedAgg(column='consommation_total', aggfunc='max'),
    conso_std = pd.NamedAgg(column='consommation_total', aggfunc='std'),
    conso_mean = pd.NamedAgg(column='consommation_total', aggfunc='mean'),
    conso_median = pd.NamedAgg(column='consommation_total', aggfunc='median')
    ).reset_index()

In [31]:
def mode_group(x):
    return x.mode().iloc[0] if not x.mode().empty else None

df_mode = df_transactions_train_v1.groupby('client_id').agg(
    tarif_type = pd.NamedAgg(column='tarif_type', aggfunc=mode_group),
    counter_statue = pd.NamedAgg(column='counter_statue', aggfunc=mode_group),
    counter_coefficient = pd.NamedAgg(column='counter_coefficient', aggfunc=mode_group)
    ).reset_index()

In [32]:
df_mode1 = df_transactions_test_v1.groupby('client_id').agg(
    tarif_type = pd.NamedAgg(column='tarif_type', aggfunc=mode_group),
    counter_statue = pd.NamedAgg(column='counter_statue', aggfunc=mode_group),
    counter_coefficient = pd.NamedAgg(column='counter_coefficient', aggfunc=mode_group)
    ).reset_index()

In [33]:

def palier_max_et_compte(df_client):
    paliers = ['consommation_level_1', 'consommation_level_2', 'consommation_level_3', 'consommation_level_4']

    # Création d'un DataFrame booléen pour les franchissements
    franchissements = (df_client[paliers] > 0).sum()
    
    # S'il n'y a aucun franchissement
    if (franchissements == 0).all():
        return pd.Series([None, 0], index=['palier_max', 'nb_max_franchi'])
    
    # Trouver le palier max franchi (ex : palier_3)
    palier_max = franchissements[franchissements > 0].index.map(lambda p: int(p.split('_')[2])).max()
    nom_palier_max = f'consommation_level_{palier_max}'
    
    # Nombre de fois que ce palier max a été franchi
    nb_max = (df_client[nom_palier_max] > 0).sum()
    
    return pd.Series([nom_palier_max, nb_max], index=['palier_max', 'nb_max_franchi'])

In [34]:
resultat = df_transactions_train_v1.groupby('client_id').apply(palier_max_et_compte).reset_index()

C:\Users\djidj\AppData\Local\Temp\ipykernel_34348\3620131387.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  resultat = df_transactions_train_v1.groupby('client_id').apply(palier_max_et_compte).reset_index()

In [35]:
resultat1 = df_transactions_test_v1.groupby('client_id').apply(palier_max_et_compte).reset_index()

C:\Users\djidj\AppData\Local\Temp\ipykernel_34348\4076398852.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  resultat1 = df_transactions_test_v1.groupby('client_id').apply(palier_max_et_compte).reset_index()

In [36]:
from functools import reduce

dfs = [df_agg, df_mode, resultat]
df_merged = reduce(lambda left, right: pd.merge(left, right, on='client_id', how='left'), dfs)
df_merged.head()

,client_id,counter_number,counter_code,reading_remarque_min,reading_remarque_max,reading_remarque_std,reading_remarque_mean,reading_remarque_median,conso_level1_sum,conso_level2_sum,...,conso_min,conso_max,conso_std,conso_mean,conso_median,tarif_type,counter_statue,counter_coefficient,palier_max,nb_max_franchi
0,train_Client_0,1335667,207,6,9,1.248192,6.971429,6.0,12334,370,...,38,1386,341.553930,362.971429,267.0,11,0,1,consommation_level_2,2.0
1,train_Client_1,678902,203,6,9,1.377097,7.216216,6.0,20629,0,...,190,1207,197.935960,557.540541,520.0,11,0,1,consommation_level_1,37.0
2,train_Client_10,572765,207,6,9,1.258955,7.055556,6.0,14375,682,...,188,3082,646.808386,836.500000,655.5,11,0,1,consommation_level_2,1.0
3,train_Client_100,2078,413,6,9,0.670820,6.150000,6.0,24,0,...,0,15,3.607011,1.200000,0.0,11,0,1,consommation_level_1,4.0
4,train_Client_1000,19575,207,8,9,0.363137,8.857143,9.0,9292,1468,...,124,2382,633.485669,922.642857,770.0,11,0,1,consommation_level_4,2.0

In [37]:
from functools import reduce

dfs1 = [df_agg1, df_mode1, resultat1]
df_merged1 = reduce(lambda left, right: pd.merge(left, right, on='client_id', how='left'), dfs1)

In [38]:
df_client_train_final = pd.merge(df_client_train1, df_merged, on='client_id', how='right')

In [39]:
df_client_test_final = pd.merge(df_client_test, df_merged1, on='client_id', how='right')

In [40]:
df_client_train_final = deplacer_colonnes(df_client_train_final, 'target',26)

In [41]:
df_client_test_final = deplacer_colonnes(df_client_test_final, 'client_id',0)